@page
@model HelloWorldWeb.Pages.EmptyModel
<div class="jumbotron" style="background-color: inherit; text-align:center; vertical-align: middle;">
    <p style=" vertical-align: middle; text-align:center;">
        <a class="btn btn-primary" href="##" onClick="history.go(-1); return false;" style="vertical-align: middle; text-align:center;">Just go back</a>
    </p>
   
</div>
